/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* System */
  --color-system-white: #ffffff;
  --color-system-black: #000000;

  /* Semantic */
  --color-semantic-color: #ffffff;

  /* Status */
  --color-status-success: #59db40;
  --color-status-success-translucent: #59db40;
  --color-status-danger: #f42b5e;
  --color-status-danger-translucent: #f42b5e;
  --color-status-warning: #eac50d;
  --color-status-warning-translucent: #eac50d;

  /* Fill */
  --color-fill-primary: #f3f4f5;
  --color-fill-secondary: #e9eaed;
  --color-fill-tertiary: #dddfe3;
  --color-fill-invert: #1b1d22;

  /* Accent */
  --color-accent-primary: #864ef6;
  --color-accent-transparent: #f2ecfe;

  /* Stroke */
  --color-stroke-primary: #e9eaed;
  --color-stroke-secondary: #ddefe3;
  --color-stroke-tertiary: #8f96a3;

  /* Content */
  --color-content-primary: #2f3238;
  --color-content-secondary: #8f96a3;
  --color-content-tertiary: #ddefe3;
  --color-content-invert: #ffffff;

  /* Background */
  --color-background-primary: #ffffff;
  --color-background-secondary: #f3f4f5;
  --color-background-tertiary: #e9eaed;
  --color-background-quaternary: #ddefe3;

  /* Grayscale */
  --color-grayscale-0: #ffffff;
  --color-grayscale-50: #f3f4f5;
  --color-grayscale-100: #e9eaed;
  --color-grayscale-150: #dee0e3;
  --color-grayscale-200: #ddefe3;
  --color-grayscale-300: #8f96a3;
  --color-grayscale-400: #5b6270;
  --color-grayscale-500: #41464f;
  --color-grayscale-600: #2f3238;
  --color-grayscale-700: #25272c;
  --color-grayscale-800: #1b1d22;
  --color-grayscale-900: #0e0f11;

  /* Core */
  --color-core-100: #f2ecfe;
  --color-core-200: #c4a9fa;
  --color-core-300: #864ef6;
  --color-core-400: #7032ed;
  --color-core-500: #52368a;
  --color-core-600: #3e2d5f;

  /* Solid */
  --color-solid-green: #59db40;
  --color-solid-yellow: #eac50d;
  --color-solid-red: #f42b5e;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
